pre,
blockquote {
  color: #444;
}

.log1 {
  color: purple;
}

.log2 {
  color: yellow;
}

.log3 {
  color: blue;
}

.log4 {
  font-weight: bold;
}

.log5 {
  /* text-decoration: underline; */
}

pre {
  overflow: auto;
}
